header.header {
    position: relative;
    z-index: 99;
    padding: (0.7em * $grid) (1.7em * $grid);

    @include media($screen-xsm) {
        padding: 0 (1.7em * $grid);
        margin-top: 1.5em;
    }


    @include media($screen-xl) {
        padding: 0;
    }


    h1 {
        z-index: 99999999;
        position: relative;

        @include media($max-xs) {
            width: 150px;
            height: 45px;
            margin: 0;
            display: block;

            a {
                width: 150px;
                height: 45px;
                margin: 0;
                display: block;

                .icon-logo-noseal {
                    width: 150px;
                    height: 45px;
                    margin: 0 auto 0 auto;
                    display: block;
                    position: relative;

                    svg {
                        top: 50%;
                        position: absolute;
                        transform: translateY(-50%);
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}

header.header {
    @include media($screen-xs) {
        .menu--trigger {
            display: none;
        }

        h1 {
            order: 1;
        }

        .navwrap {
            order: 2;
        }
    }
}