.bg--gold {
    background-color: map-get($gold, main);
}

.bg--gold-dark {
    background-color: map-get($gold, dark);
}

.bg--gold-faded {
    background-color: map-get($gold, faded);
}

.bg--gray {
    background-color: $gray;
}

.bg--gray-light {
    background-color: $lightgray;
}

.bg--black {
    background-color: $black;
}

.bg--white {
    background-color: $white;
}

.bg--gradient {
    background-image: $gradient;
}