.block--detail {
    h3 {
        @include media($max-md) {
            text-align: left;
        }
    }

    p {
        font-size: .95em;
        margin-bottom: 0;

        @include media($screen-md) {
            border-left: 1px solid map-get($gold, main);
            padding-left: 1em;
        }
    }
}