.button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .6em;
    border-bottom: 1px solid;

    i {
        display: inline-block;
        height: 8px;
        width: 4.5px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.border--1 {
    border: 1px solid;
}

#cart-toggle {
    top: 4px;
    position: relative;
    display: inline-block;
}

.shopify-buy__cart-toggle__count {
    @extend .font--sans;

    @extend .color--gray;

    float: right !important;
    position: absolute;
    top: 2px;
    text-align: center;
    border: 1px solid;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    font-size: 12px;
    font-weight: bold;
    right: -2em;
    line-height: 1.2;
}

.shopify-buy__cart-toggle__title {
    float: left !important;

    @extend .font--sans;

    @extend .color--gray;

    @extend .font--bold;

    @extend .font--small;

    @extend .text--uppercase;
}

.shopify-buy-frame {
    padding: 0 !important;
}

.shopify-buy-frame--toggle:not(.is-sticky) {
    padding: 0 !important;
    overflow: visible !important;
}

.shopify-buy__cart-toggle {
    position: relative;

    @include media($max-xs) {}


    @include media($max-xsm) {}


    @include media($max-sm) {
        margin-left: -2em;
    }


    @include media($max-smd) {}


    @include media($max-md) {}


    @include media($max-lg) {}


    @include media($max-xl) {}
}