.section--blog-header {
    position: relative;

    @include media($screen-sm) {
        h1 {
            margin: 0;
            padding: 0;
            position: absolute;
            left: .5em;
            z-index: 9;
            bottom: .5em;
            font-size: 5em;
            letter-spacing: 0px;
        }
    }


    img {
        position: relative;
    }

    &.noimg {
        background: map-get($gold, main);

        @include media($screen-sm) {
            min-height: 480px;
        }
    }
}

.imageright {
    float: right;
    margin-right: -7em;
    padding-left: 1em;
    padding-bottom: 1em;
}