.section--footer {
    section {
        @include media($screen-sm) {
            border-left: 1px solid $bordergray;
            padding-left: 0.5em;
        }


        box-sizing: border-box;
    }

    .block--footer-logo {
        @include media($max-md) {
            display: none;
        }


        border: 0;
        padding-left: 0;

        i {
            display: block;
            margin: 0 auto;
            max-width: 250px;
        }
    }

    @include media($screen-md) {
        .block--footer-nav-1 {
            order: 2;
        }

        .block--footer-nav-2 {
            order: 3;
        }

        .block--footer-social {
            order: 4;
        }

        .block--footer-logo {
            order: 1;
        }

        .block--footer-email {
            order: 5;
        }
    }
}