.section--blog-header {
    position: relative;

    img {
        position: relative;
    }

    &.noimg {
        background: map-get($gold, main);

        @include media($screen-sm) {
            min-height: 480px;
        }
    }

    h1 {
        letter-spacing: -1.5px;

        + strong {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 0.9em;
            margin-top: 0.5rem;
            display: block;
        }
    }
}

.tease {
    h2 {
        + strong {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 0.9em;
            margin-top: 0.5rem;
            display: block;
        }
    }
}

.imageright {
    float: right;
    margin-right: -1em;
    padding-left: 1em;
    padding-bottom: 1em;
    width: 140px;
    height: auto;

    @include media($screen-sm) {
        width: 190px;
    }
}

.noimg + .article-content {
    @include media($max-sm) {
        margin-top: 2em;
    }
}

.tease {
    h2 {
        line-height: 1.1;
        margin-bottom: .5rem;

        + strong {
            display: block;
            margin-bottom: .5rem;
        }
    }
}