{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">
{% block header %}
	{% include 'components/header.twig' %}
	{% if cookie != true %}
		{% include 'components/sections/section--age-gate.twig' %}
	{% endif %}
{% endblock %}
<main role="main" class="content-wrapper margin--center huge-wrap">
	{% if post.post_type == 'post' %}
		{% include 'components/sections/section--blog-header.twig' %}
	{% else %}
		{% include 'components/sections/section--header.twig' %}
	{% endif %}
	{% block content %}
		Sorry, no content
	{% endblock %}
</main>
{% block footer %}
	
	{% include 'footer.twig' %}
	{{ function('wp_footer') }}
{% endblock %}
</body>
</html>