{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">
	{% if cookie != true %}
		{% include 'components/sections/section--age-gate.twig' %}
	{% endif %}
{% block header %}
	{% include 'components/header.twig' %}
	
{% endblock %}
<main role="main" class="content-wrapper margin--center huge-wrap">
	{% if post.post_type == 'post' %}
		{% include 'components/sections/section--blog-header.twig' %}
	{% else %}
		{% include 'components/sections/section--header.twig' %}
	{% endif %}
	{% block content %}
		Sorry, no content
	{% endblock %}
</main>
{% block footer %}
	
	{% include 'footer.twig' %}
	{{ function('wp_footer') }}
{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117515283-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117515283-1');
</script>

</body>
</html>