<footer class="section--footer flex flex--wrap justify--between spacing--gutter spacing--vert-1 spacing--dsk-vert-0 max-wrap margin--center">
	{% include 'components/blocks/block--footer-nav.twig' %}
	{% include 'components/blocks/block--footer-store.twig' %}
	{% include 'components/blocks/block--footer-social.twig' %}
	<section class="block--footer-logo hidden--mob grid--half grid--sm-fourth grid--md-third"><a href="{{site.url}}" title="{{site.name}} Homepage"><i class="icon-logo-noseal" data-grunticon-embed></i></a></section>
	{% include 'components/blocks/block--footer-email.twig' %}
	{# Copyright {{"now"|date('Y')}} #}
	{% include 'components/sections/section--footer-bottom.twig' %}
</footer>