<footer class="section--footer flex flex--wrap justify--between spacing--gutter max-wrap margin--center">
	{% include 'components/blocks/block--footer-nav.twig' %}
	{% include 'components/blocks/block--footer-store.twig' %}
	{% include 'components/blocks/block--footer-social.twig' %}
<section class="block--footer-logo grid--half grid--sm-fourth grid--md-third"><i class="icon-logo-noseal" data-grunticon-embed></i></section>
	{% include 'components/blocks/block--footer-email.twig' %}
{# Copyright {{"now"|date('Y')}} #}
{% include 'components/sections/section--footer-bottom.twig' %}
</footer>