{% extends "base.twig" %}
{% block content %}
	<section class="max-wrap margin--center flex flex--double flex--wrap justify--between spacing--gutter">
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endfor %}
	</section>
{% endblock %}