<section class="block--footer-nav-2 grid--third grid--sm-fifth grid--md-seventh">{% for link in options.footer.store %}
		<a href="{{link.url}}" class="font--small font--din color--black text--uppercase block" title="{{link.title}}" target="{{link.target}}">{{link.title}}</a>
	{% endfor %}</section>