<section class="block--footer-email grid--one grid--sm-two-fifths grid--md-fourth spacing--vert-1 spacing--dsk-vert-0">
	<div class="font--small font--din color--black text--uppercase">{{options.social.title}}</div>
	{{options.social.signup}}
</section>