<section class="block--footer-email grid--one grid--sm-two-fifths grid--md-fourth">
	<div class="font--small font--din color--black text--uppercase">{{options.social.title}}</div>
	{{options.social.signup}}
	</section>