<div class="block--detail flex flex--wrap justify--between align--items-center spacing--vert-1">
	<div class="grid--one grid--md-fourth text--right"><h3 class="color--gold font--din text--uppercase">{{detail.title}}</h3></div>
	<div class="grid--one grid--md-three-fourths">{{detail.content}}</div>
</div>