<div class="block--person grid--sm-half grid--md-two-fifths">
	<i class="icon-sig-brittany" data-grunticon-embed></i>
	<hr class="color--gray">
	<div class="font--bold text--uppercase color--gray font--small">{{home.meet.first.name}}</div>
	<div class="font--tiny">{{home.meet.first.title}}</div>
</div>
<div class="block--person grid--sm-half grid--md-two-fifths">
	<i class="icon-sig-charlie" data-grunticon-embed></i>
	<hr class="color--gray">
	<div class="font--bold text--uppercase color--gray font--small">{{home.meet.second.name}}</div>
	<div class="font--tiny">{{home.meet.second.title}}</div>
</div>