.icon-angle-right { background-image: url('app/icons/angle-right.png'); background-repeat: no-repeat; }

.icon-cart { background-image: url('app/icons/cart.png'); background-repeat: no-repeat; }

.icon-logo-letters { background-image: url('app/icons/logo-letters.png'); background-repeat: no-repeat; }

.icon-logo-monogram { background-image: url('app/icons/logo-monogram.png'); background-repeat: no-repeat; }

.icon-logo-noseal { background-image: url('app/icons/logo-noseal.png'); background-repeat: no-repeat; }

.icon-logo-signature { background-image: url('app/icons/logo-signature.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('app/icons/logo.png'); background-repeat: no-repeat; }

.icon-pair-backpack { background-image: url('app/icons/pair-backpack.png'); background-repeat: no-repeat; }

.icon-pair-boat { background-image: url('app/icons/pair-boat.png'); background-repeat: no-repeat; }

.icon-pair-game { background-image: url('app/icons/pair-game.png'); background-repeat: no-repeat; }

.icon-pair-grill { background-image: url('app/icons/pair-grill.png'); background-repeat: no-repeat; }

.icon-pair-pizza { background-image: url('app/icons/pair-pizza.png'); background-repeat: no-repeat; }

.icon-pair-plates { background-image: url('app/icons/pair-plates.png'); background-repeat: no-repeat; }

.icon-pair-popcorn { background-image: url('app/icons/pair-popcorn.png'); background-repeat: no-repeat; }

.icon-pair-sun { background-image: url('app/icons/pair-sun.png'); background-repeat: no-repeat; }

.icon-sig-brit { background-image: url('app/icons/sig-brit.png'); background-repeat: no-repeat; }

.icon-sig-brittany { background-image: url('app/icons/sig-brittany.png'); background-repeat: no-repeat; }

.icon-sig-char { background-image: url('app/icons/sig-char.png'); background-repeat: no-repeat; }

.icon-sig-charlie { background-image: url('app/icons/sig-charlie.png'); background-repeat: no-repeat; }

.icon-social--facebook { background-image: url('app/icons/social--facebook.png'); background-repeat: no-repeat; }

.icon-social--instagram { background-image: url('app/icons/social--instagram.png'); background-repeat: no-repeat; }

.icon-writing { background-image: url('app/icons/writing.png'); background-repeat: no-repeat; }

